on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

env:
  WEAVIATE_127: 1.27.27
  WEAVIATE_128: 1.28.16
  WEAVIATE_129: 1.29.11
  WEAVIATE_130: 1.30.22
  WEAVIATE_131: 1.31.22
  WEAVIATE_132: 1.32.27
  WEAVIATE_133: 1.33.12
  WEAVIATE_134: 1.34.10
  WEAVIATE_135: 1.35.3
  WEAVIATE_136: 1.36.0-dev-3038dec

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '22.x'
    - name: "Run checks"
      run: |
        npm ci
        npm run lint
        npm run format:check
        npm run docs

  tests-without-auth:
    needs: checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions: [
          { node: "24.x", weaviate: $WEAVIATE_127 },
          { node: "24.x", weaviate: $WEAVIATE_128 },
          { node: "24.x", weaviate: $WEAVIATE_129 },
          { node: "24.x", weaviate: $WEAVIATE_130 },
          { node: "24.x", weaviate: $WEAVIATE_131 },
          { node: "24.x", weaviate: $WEAVIATE_132 },
          { node: "24.x", weaviate: $WEAVIATE_133 },
          { node: "24.x", weaviate: $WEAVIATE_134 },
          { node: "20.x", weaviate: $WEAVIATE_135 },
          { node: "22.x", weaviate: $WEAVIATE_135 },
          { node: "24.x", weaviate: $WEAVIATE_135 },
          { node: "24.x", weaviate: $WEAVIATE_136 },
        ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.versions.node }}
    - name: Login to Docker Hub
      if: ${{ !github.event.pull_request.head.repo.fork && github.triggering_actor != 'dependabot[bot]' }}
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
    - name: "Install dependencies"
      run: |
        npm ci
        ci/run_dependencies.sh ${{ matrix.versions.weaviate }}
    - name: "Run tests without authentication tests"
      run: WEAVIATE_VERSION=${{ matrix.versions.weaviate }} npm test
    - name: "Transpile the package"
      run: npm run build
    - name: "Stop Weaviate"
      run: ci/stop_dependencies.sh ${{ matrix.versions.weaviate }}

  tests-with-auth:
    needs: checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions: [
          { node: "24.x", weaviate: $WEAVIATE_134},
        ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.versions.node }}
    - name: Login to Docker Hub
      if: ${{ !github.event.pull_request.head.repo.fork && github.triggering_actor != 'dependabot[bot]' }}
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
    - name: "Install dependencies"
      run: |
        npm ci
        ci/run_dependencies.sh ${{ matrix.versions.weaviate }}
    - name: "Run tests with authentication tests"
      if: ${{ !github.event.pull_request.head.repo.fork }}
      env:
        OKTA_DUMMY_CI_PW: ${{ secrets.OKTA_DUMMY_CI_PW }}
        WCS_DUMMY_CI_PW: ${{ secrets.WCS_DUMMY_CI_PW }}
        AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        OKTA_CLIENT_SECRET: ${{ secrets.OKTA_CLIENT_SECRET }}
      run: WEAVIATE_VERSION=${{ matrix.versions.weaviate }} npm test
    - name: "Stop Weaviate"
      run: ci/stop_dependencies.sh ${{ matrix.versions.weaviate }}

  publish:
    needs: [tests-with-auth, tests-without-auth]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      contents: write   # to upload the release
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - run: npm publish --tag alpha
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTOMATION_TOKEN }}
      - run: npm run docs
      - name: "Upload docs as pages artifact"
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs
      - name: "Deploy the uploaded pages artifact"
        uses: actions/deploy-pages@v4
      - name: "Create a GitHub release"
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          draft: true
